<?php
defined('BASEPATH') OR exit('No direct script access allowed');

$dbconfig = array(
	'hostname' => 'localhost',
	'username' => '',
	'password' => '',
	'database' => '',
	'char_set' => 'utf8',
	'dbcollat' => 'utf8_general_ci',
);
